<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.admn.recruit">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".positiondetails.PositionDetailsActivity"></activity>
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".invitation.InvitationActivity" />
        <activity android:name=".applicationrecord.ApplicationRecordActivity" />
        <activity android:name=".remind.RemindActivity" />
        <activity android:name=".aboutus.AboutUsActivity" />
        <activity android:name=".target.TargetActivity" />
        <activity android:name=".eduexp.EduExpEditActivity" />
        <activity android:name=".eduexp.EduExpActivity" />
        <activity android:name=".workexp.WorkExpEditActivity" />
        <activity android:name=".workexp.WorkExpActivity" />
        <activity android:name=".index.IndexActivity" />
        <activity android:name=".basicinfo.BasicInfoActivity" />
        <activity
            android:name=".setup.SetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>