<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.admn.recruit">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PositionDetailsActivity"></activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.InvitationActivity" />
        <activity android:name=".activity.ApplicationRecordActivity" />
        <activity android:name=".activity.RemindActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.TargetActivity" />
        <activity android:name=".activity.EduExpEditActivity" />
        <activity android:name=".activity.EduExpActivity" />
        <activity android:name=".workexp.WorkExpEditActivity" />
        <activity android:name=".workexp.WorkExpActivity" />
        <activity android:name=".activity.IndexActivity" />
        <activity android:name=".activity.BasicInfoActivity" />
        <activity
            android:name=".activity.SetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>